<html>
	<head>
		<title>VietViet</title>
		<meta charset="utf-8">
	    <link href="../../css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<h1> Server Info </h1>
		<table class="table">
		  <tr>
		    <th>Name</th>
		    <th>Detail</th>		
		  </tr>
		</table>
		<script>
			var xmlhttp;
			if (window.XMLHttpRequest)
			  {// code for IE7+, Firefox, Chrome, Opera, Safari
			  xmlhttp=new XMLHttpRequest();
			  }
			else
			  {// code for IE6, IE5
			  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			  }
			xmlhttp.onreadystatechange=function()
			  {
			  if (xmlhttp.readyState==4 && xmlhttp.status==200)
				{
				alert(xmlhttp.responseText);
				}
			  }
			xmlhttp.open("GET","/getUsers",true);
			xmlhttp.send();
		</script>
	</body>
</html>

